<!DOCTYPE html>
<html>
<head>
  <title>ReviewApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_company %>

<% else %>
  <ul>
    <!-- <li><%= link_to "User Login", '/login' %></a></li> -->
    <li><%= link_to "Signup New Company", '/companies/signup' %></a></li>
    <li><%= link_to "Company Log In", '/companies/login' %></li>
  </ul>
<% end %>

<%= yield %>

</body>
</html>
